<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="inicio ion-padding-top ion-text-center">
        <strong>Sistema de Asistencia Duoc</strong>
      </ion-title>
    </ion-toolbar>
  </ion-header>



  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">
      
      <div class="image-container">
        <img class="imagen" src="assets/img/logo.jpg">
      </div>

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>!Bienvenido¡</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            <ion-icon color="primary" name="mail-outline" slot="start"></ion-icon>
            Usuario
          </ion-label>
          <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo" placeholder="Ingrese usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">
            <ion-icon color="primary" name="lock-closed" slot="start"></ion-icon>
            Contraseña
          </ion-label>
          <ion-input name="password" label="Contraseña" labelPlacement="floating" type="password"
          placeholder="Ingresar contraseña" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        

      <ion-row>
        <ion-col size="12">
          <ion-button shape="block" (click)="ingresar()">
            Ingresar
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-col>
      </ion-row>
      </ion-card-content>

      <div routerLink="">Recuperar contraseña</div>


    </ion-card>
  </div>

</ion-content>
