<ion-content [fullscreen]="true">



  <div class="ion-padding-vertical">
    
    <div class="image-container ion-text-center">
      <img class="imagen" src="assets/img/Logo-Duoc.png">
    </div>

    <ion-card class="ion-text-center ion-padding-vertical ion.padding-horizontal">
      
      <ion-title class="inicio ion-padding-top ion-text-center">
        <h1 class="saludo">Sistema de Asistencia Duoc</h1>
      </ion-title>


      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2 class="saludo">!Bienvenido¡</h2>
        </ion-label>
      </ion-card-title>
      <!-- para mostar el correo y la contraseña -->
      <ion-card-content class="label">
        <ion-row size-lg="8" size-md="8" size-sm="8" size="12">
          <ion-col >
            <ion-item>
              <ion-label position="floating">
                <ion-icon color="primary" name="mail-outline" slot="start"></ion-icon>
                Usuario
              </ion-label>
              <ion-input name="correo" label="Correo" labelPlacement="floating" type="text" [(ngModel)]="usuario.correo" placeholder="Ingrese usuario"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">
                <ion-icon color="primary" name="lock-closed" slot="start"></ion-icon>
                Contraseña
              </ion-label>
              <ion-input name="password" label="Contraseña" labelPlacement="floating" type="password"
              placeholder="Ingresar contraseña" [(ngModel)]="usuario.password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        
        <!-- codigo de los botones -->
      <ion-row>
        <ion-col size-lg="12" size-md="8" size-sm="8" size="12">
          <div>
            <ion-button color="warning" shape="block" (click)="ingresar()">
              Ingresar
              <ion-icon slot="end" name="log-in-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      </ion-card-content>

      <div routerLink="">Recuperar contraseña</div>


    </ion-card>
  </div>

</ion-content>
